/* Center the login form */
.login-container {
    position: fixed;
    width: clamp(10px, 30%, 400px); /* Responsive width range */
    max-width: 100%;
    padding: clamp(0.5rem, 3vw, 5rem); /* Responsive padding */
    background: #ff0000;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    top: 2vh; /* Viewport-relative positioning */
    right: 2vw;
    margin: 0;
    z-index: 1000;
}



.inactive {
    background: #ccc;
    color: gray;
}

/* Form input fields */
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit button */
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

    .login-container button:hover {
        background-color: darkred;
    }

.toggle-text {
    margin-top: 10px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

    .toggle-text:hover {
        text-decoration: underline;
    }
